#### Pasos a seguir

- Importar las librerías (data)
- Exploración de los datos
- Limpieza de datos
- Regresión lineal
- Evaluación del resultado

In [1]:
#importo las librerías

import pandas as pd
import numpy as np

#visualizacion
import seaborn as sns
import matplotlib.pyplot as plt

#test
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# Lee el csv correspondiente

df = pd.read_csv('data/measurements.csv')

In [3]:
df.shape

(388, 12)

In [4]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [5]:
# Exploración

In [6]:
df['specials'].isnull().sum()

295

In [7]:
df['refill liters'].isnull().sum()

375

In [8]:
df['refill gas'].isnull().sum()

375

In [9]:
print(df.gas_type.unique())
print(df['refill gas'].unique())
print(df.specials.unique())

['E10' 'SP98']
['E10' nan 'SP98']
[nan 'AC rain' 'AC' 'rain' 'snow' 'AC snow' 'half rain half sun' 'sun'
 'AC sun' 'sun ac' 'ac' 'AC Sun' 'ac rain']

In [10]:
print(type(df.temp_inside[0]))
print(type(df.consume[0]))
print(type(df.distance[0]))
print(type(df['refill liters'][0]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
df.temp_inside = df.temp_inside.str.replace(',', '.').astype(float)
df.consume = df.consume.str.replace(',', '.').astype(float)
df.distance = df.distance.str.replace(',', '.').astype(float)
df['refill liters'] = df['refill liters'].str.replace(',', '.').astype(float)

In [12]:
print(type(df.temp_inside[0]))
print(type(df.consume[0]))
print(type(df.distance[0]))
print(type(df['refill liters'][0]))

<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>
<class 'numpy.float64'>

In [13]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,21.5,12,NaN,E10,0,0,0,45.0,E10
1,12.0,4.2,30,21.5,13,NaN,E10,0,0,0,NaN,NaN
2,11.2,5.5,38,21.5,15,NaN,E10,0,0,0,NaN,NaN
3,12.9,3.9,36,21.5,14,NaN,E10,0,0,0,NaN,NaN
4,18.5,4.5,46,21.5,15,NaN,E10,0,0,0,NaN,NaN

In [14]:
# revisamos valores nulos

df.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [15]:
#Limpieza y transformación

#Eliminar columnas con menos de 100 no nulos

df.drop(['specials', 'refill liters', 'refill gas'], axis=1, inplace=True)

In [16]:
df.head()

   distance  consume  speed  temp_inside  temp_outside gas_type  AC  rain  sun
0      28.0      5.0     26         21.5            12      E10   0     0    0
1      12.0      4.2     30         21.5            13      E10   0     0    0
2      11.2      5.5     38         21.5            15      E10   0     0    0
3      12.9      3.9     36         21.5            14      E10   0     0    0
4      18.5      4.5     46         21.5            15      E10   0     0    0

In [17]:
media_ti = df['temp_inside'].mean()

In [18]:
# Rellena los valores nulos con la media
df['temp_inside'].fillna(media_ti, inplace=True)

In [19]:
df.isnull().sum()

distance        0
consume         0
speed           0
temp_inside     0
temp_outside    0
gas_type        0
AC              0
rain            0
sun             0
dtype: int64